extends layout

block content
  //- Form for Adding Products
  form(action='./addTask' method='POST' class='form-registration')
    .row.my-3
      .col-md-12.text-center
        //label(for="taskName" class='fs-5 mb-2') Product Database
        <label for="taskName" style="font-size: 20px;">Product Management</label>
        input.form-control.form-control-lg(type="text", name='taskName', placeholder="Enter the new Product Name here" )
        input.form-control.form-control-lg(type="text", name='pID', placeholder="Enter the Product ID here" )
        input.form-control.form-control-lg(type="text", name='description', placeholder="Enter Product details here" )
        input.form-control.form-control-lg(type="text", name='price', placeholder="Enter the Product price here" )
        input.form-control.form-control-lg(type="text", name='catagory', placeholder="Enter Product catagory here" )
        input.form-control.form-control-lg(type="text", name='manuf', placeholder="Enter the Product Manufacturer here" )
        button.btn.btn-primary.btn-lg.mt-3(type='submit') Add Product


  //- Listing all Products
  h5(class='my-4 text-center') All Products

  .table-responsive
    table.table.table-striped.table-hover
      thead
        tr
          th(class='fw-bold') Product ID
          th(class='fw-bold') Product
          th(class='fw-bold') Price 
          th(class='fw-bold') Manufacturer
          th(class='fw-bold') Catagory
          th(class='fw-bold') Description
          th(class='fw-bold') Added at
          th(class='fw-bold') -
      tbody
        each task in currentTasks
          tr
            td #{task.pID}
            td #{task.taskName}
            td #{task.price}
            td #{task.manuf}
            td #{task.catagory}
            td #{task.description}
            td #{format(task.createDate, "yyyy-MM-dd HH:mm:ss")}
            td
              form(action='./deleteTask' method='POST' class='form-registration')
                input(type='hidden' name='_id' value=task._id)
                button.btn.btn-primary.btn-sm(type='submit') Remove Entry

